# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env

# VS Code / IDEs
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db
